@font-face {
  font-family: "Roboto";
  src: url('./fonts/roboto/roboto-light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('./fonts/roboto/roboto-light.eot?') format('embedded-opentype'),
  url('./fonts/roboto/roboto-light.woff2') format('woff2'),
  url('./fonts/roboto/roboto-light.woff') format('woff'),
  url('./fonts/roboto/roboto-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url('./fonts/roboto/roboto-bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('./fonts/roboto/roboto-bold.eot?') format('embedded-opentype'),
  url('./fonts/roboto/roboto-bold.woff2') format('woff2'),
  url('./fonts/roboto/roboto-bold.woff') format('woff'),
  url('./fonts/roboto/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
